**ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ № 17**

1 вопрос (20 баллов)  
Логические операторы OR, AND. Условные выражения If … Elif … Else. Имеются целочисленные переменные A, B, C, D. Напишите функцию, выводящую на печать строку "correct", если одновременно выполняются условия: 1) A больше B, 2) C равно D и "not correct", есл  
Условные операторы при отсутствии пустых значений возвращают либо TRUE (ИСТИНА), либо FALSE (ЛОЖЬ). Если же в столбце присутствуют пустые значения, то может быть возвращено и третье значение: UNKNOWN (НЕИЗВЕСТНО).
Пустые значения могут оказывать влияние на использование логических операторов NOT, AND и OR.
Оператор AND  
•	Если результат двух условий, объединенных оператором AND, известен, то применяются правила булевой логики, то есть при обоих утверждениях TRUE составное утверждение также будет TRUE. Если же хотя бы одно из двух утверждений будет FALSE, то составное утверждение будет FALSE  
•	Если результат одного из утверждений неизвестен, а другой оценивается как TRUE, то состояние неизвестного утверждения является определяющим, и, следовательно, итоговый результат также неизвестен.  
•	Если результат одного из утверждений неизвестен, а другой оценивается как FALSE, итоговый результат будет FALSE.
•	Если результат обоих утверждений неизвестен, то результат также остается неизвестным.  

Оператор OR   
•	Если результат двух условий, объединенных оператором OR, известен, то применяются правила булевой логики, а именно: если хотя бы одно из двух утверждений соответствует TRUE, то и составное утверждение будет TRUE, если оба утверждения оцениваются как FALSE, то составное утверждение будет FALSE.  
•	Если результат одного из утверждений неизвестен, а другой оценивается как TRUE, итоговый результат будет TRUE.  
•	Если результат одного из утверждений неизвестен, а другой оценивается как FALSE, то состояние неизвестного утверждения имеет определяющее значение. Следовательно, итоговый результат также неизвестен.  
•	Если результат обоих утверждений неизвестен, то результат также остается неизвестным.  


If  
Обязательная часть инструкции, должна предшествовать другим частям.   
Эта часть проверяет выражение справа от себя на истинность.  
If a:  
print('a — истина')  
Elif  
Необязательная часть инструкции. Должна следовать за if, либо другой elif.  
Позволяет указать альтернативное условие, которое требуется проверить.  
Данное ключевое слово в других языках используется в избыточно длинной форме else if.   

Else  
Необязательная заключительная часть инструкции. Должна следовать за if, либо elif.  
Позволяет указать ветвь исполнения, которая должна быть активирована, если не подошли условия, указанные в предшествующих if и elif.  

a=int(input)  
b=int(input)  
c=int(input)  
d=int(input)  
IF a>b AND c==d:  
    Print(“correct”)  
ELSE:  
   Print(“not correct”)

**2 вопрос**  
С помощью библиотеки SQLAlchemy создайте объекты таблиц базы данных Chinook. В таблице Invoice содержится информация о заказах, в таблице Customer - о клиентах. Составьте запрос, показывающий, какова суммарная стоимость произведений, заказанных клиентами из Франции (France).

In [1]:
from sqlalchemy import *
from sqlalchemy.sql import *

import pandas as pd
pd.set_option('display.max_rows', 1000)
from matplotlib import pyplot as plt

engine = create_engine('sqlite:///Data/Chinook_Sqlite.sqlite')
metadata = MetaData()
metadata.reflect(bind=engine)
conn=engine.connect()

Album=Table("Album", metadata, autoload=True, autoload_with="engine")
Artist=Table("Artist", metadata, autoload=True, autoload_with="engine")
Customer=Table("Customer", metadata, autoload=True, autoload_with="engine")
Employee=Table("Employee", metadata, autoload=True, autoload_with="engine")
Track=Table("Track", metadata, autoload=True, autoload_with="engine")
Genre=Table("Genre", metadata, autoload=True, autoload_with="engine")
Invoice=Table("Invoice", metadata, autoload=True, autoload_with="engine")
InvoiceLine=Table("InvoiceLine", metadata, autoload=True, autoload_with="engine")
Playlist=Table("Playlist", metadata, autoload=True, autoload_with="engine")
PlaylistTrack=Table("PlaylistTrack", metadata, autoload=True, autoload_with="engine")

In [4]:
s=select([func.sum(Invoice.c.Total)]).group_by(Customer.c.Country) 
s=s.where(Customer.c.CustomerId==Invoice.c.CustomerId) 
s=s.where(Customer.c.Country=="France") 
result=conn.execute(s).fetchall() 
result

[(Decimal('195.10'),)]

**3 вопрос**
Записи набора данных imdb.csv содержат информацию о фильмах. Атрибут Year содержит год конкретного фильма. Подсчитатйте число фильмов в каждом году.

In [3]:
am=pd.read_csv('./Data/imdb.csv')
am.groupby('Year').count()[['Title']]

      Title
Year
2006     44
2007     53
2008     52
2009     51
2010     60
2011     63
2012     64
2013     91
2014     98
2015    127
2016    297