### ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ № 29

1 вопрос (20 баллов)
Соединение таблиц с помощью оператора JOIN. Внутреннее и внешнее соединение таблиц.

Если в операторе SELECT после ключевого слова FROM указывается не одна, а две таблицы, то в результате выполнения запроса, в котором отсутствует предложение WHERE или JOIN, каждая строка одной таблицы будет соединена с каждой строкой второй таблицы. Соединение таблиц имеет смысл тогда, когда соединяются не все строки исходных таблиц, а только те, которые интересуют пользователя. Такое ограничение может быть осуществлено с помощью использования в запросе соответствующего условия в предложении JOIN. Таким образом, SQL позволяет выводить информацию из нескольких таблиц, связывая их по значениям определенных полей. Это соединение считается внутренним (INNER) Это можно сделать с помощью следующего запроса:

SELECT STUDENT.SURNAME, UNIVERSITY.UNIV_NAME, STUDENT.CITY
FROM STUDENT INNER JOIN UNIVERSITY
ON STUDENT.CITY = UNIVERSITY.CITY;

В Пайтон для выполнения операции соединения таблиц мы будем использовать функции join() и select_from().

Как отмечалось ранее, при использовании внутреннего (INNER) соединения таблиц соединяются только те их строки, в которых совпадают значения полей, задаваемые в предложении WHERE или JOIN запроса. Однако во многих случаях это может привести к нежелательной потере информации. 
Если нам необходимо вывести также отсутствующие строки, то мы используем LEFT/RIGHT OUTER JOIN

SELECT SURNAME, MARK
FROM STUDENT LEFT OUTER JOIN EXAM_MARKS
ON STUDENT.STUDENT_ID = EXAM_MARKS.STUDENT_ID;

При использовании левого соединения расширение выводимой таблицы осуществляется за счет записей входной таблицы, имя которой указано слева от оператора JOIN.

На языке программирования Python внешнее соединение реализуется с помощью функции

function sqlalchemy.sql.expression.outerjoin(left, right, onclause=None, full=False)

В таком случае данные левой таблицы - берутся полностью, а пустые значения второй таблицы заполняются NaN

### 2. С помощью библиотеки SQLAlchemy создайте объекты таблиц базы данных Chinook. Создайте запрос, который показывает имена (FirstName), фамилии, должность работников (Employee), имена которых НЕ встречаются среди имен клиентов (Customer). Создайте этот запрос с помощью подзапроса.

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, cast
from sqlalchemy import String, Numeric, Float, Integer
from sqlalchemy.sql import func, alias, desc, exists

import pandas as pd
from matplotlib import pyplot

engine = create_engine('sqlite:///Data/Chinook_Sqlite.sqlite')
metadata = MetaData()
metadata.reflect(bind=engine)
conn=engine.connect()

Album=Table("Album", metadata, autoload=True, autoload_with="engine")
Artist=Table("Artist", metadata, autoload=True, autoload_with="engine")
Customer=Table("Customer", metadata, autoload=True, autoload_with="engine")
Employee=Table("Employee", metadata, autoload=True, autoload_with="engine")
Track=Table("Track", metadata, autoload=True, autoload_with="engine")
Genre=Table("Genre", metadata, autoload=True, autoload_with="engine")
Invoice=Table("Invoice", metadata, autoload=True, autoload_with="engine")
InvoiceLine=Table("InvoiceLine", metadata, autoload=True, autoload_with="engine")
Playlist=Table("Playlist", metadata, autoload=True, autoload_with="engine")
PlaylistTrack=Table("PlaylistTrack", metadata, autoload=True, autoload_with="engine")
MediaType=Table("MediaType",metadata, autoload=True, autoload_with="engine")

print(metadata.tables.keys())

dict_keys(['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'Track', 'MediaType', 'Playlist', 'PlaylistTrack'])

In [2]:
E = Employee.alias('E')
C = Customer.alias('C')
s = select(E.c.FirstName, E.c.LastName, E.c.Title)
ex=exists().where(E.c.FirstName==C.c.FirstName)
s=s.where(~ex)
result=conn.execute(s).fetchall()
result

[('Andrew', 'Adams', 'General Manager'),
 ('Nancy', 'Edwards', 'Sales Manager'),
 ('Jane', 'Peacock', 'Sales Support Agent'),
 ('Margaret', 'Park', 'Sales Support Agent'),
 ('Michael', 'Mitchell', 'IT Manager'),
 ('Laura', 'Callahan', 'IT Staff')]

In [3]:
df=pd.read_csv('./Data/imdb.csv')
df.groupby('Year').Votes.mean()

Year
2006    269289.954545
2007    244331.037736
2008    275505.384615
2009    255780.647059
2010    252782.316667
2011    240790.301587
2012    285226.093750
2013    219049.648352
2014    203930.224490
2015    115726.220472
2016     48591.754209
Name: Votes, dtype: float64