In [3]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, cast
from sqlalchemy import String, Numeric, Float, Integer
from sqlalchemy.sql import func, alias, desc
from pprint import pprint

import pandas
from matplotlib import pyplot

engine = create_engine('sqlite:///Data/Chinook_Sqlite.sqlite')
metadata = MetaData()
metadata.reflect(bind=engine)
conn=engine.connect()

Album=Table("Album", metadata, autoload=True, autoload_with="engine")
Artist=Table("Artist", metadata, autoload=True, autoload_with="engine")
Customer=Table("Customer", metadata, autoload=True, autoload_with="engine")
Employee=Table("Employee", metadata, autoload=True, autoload_with="engine")
Track=Table("Track", metadata, autoload=True, autoload_with="engine")
Genre=Table("Genre", metadata, autoload=True, autoload_with="engine")
Invoice=Table("Invoice", metadata, autoload=True, autoload_with="engine")
InvoiceLine=Table("InvoiceLine", metadata, autoload=True, autoload_with="engine")
Playlist=Table("Playlist", metadata, autoload=True, autoload_with="engine")
PlaylistTrack=Table("PlaylistTrack", metadata, autoload=True, autoload_with="engine")

import pandas as pd
df=pd.read_csv('./Data/imdb.csv')

### 1 вопрос (20 баллов)

Библиотека Pandas. Таблица pandas.DataFrame: индексация строк и столбцов, фильтрация. Функции loc[] и iloc[].

Pandas – это библиотека с открытым исходным кодом на Python. Она предоставляет готовые к использованию высокопроизводительные структуры данных и инструменты анализа данных.

DataFrame — табличная структура данных их строк и столбцов. 

Индексирование может означать выбор всех строк и некоторых столбцов, некоторых строк и всех столбцов или некоторых из всех строк и столбцов. Индексирование по факту выбор подмножества.

Фильтрация строк функцией isin() или query(). Подсчёт функцией count().
Есть фильтрация по столбцу как будто вы обращаетесь к ключу словаря, или же к методу объекта. df [“название столбца”]. 

А есть фильтрация по строковому индексу двумя методами:

loc — для доступа по именованному индексу

iloc — для доступа по числовому индексу

Индексация панд с использованием .loc[] , .iloc[ ] – способ извлечь элементы, строки и столбцы из DataFrame. 

Пример: Чтобы выбрать 2 строки и 3 столбца, делаем так: 
Dataframe.loc[["row1", "row2"], ["column1", "column2", "column3"]]
Пример: извлечение строки: row = data.iloc[3]

Оператор индексирования используется для ссылки на квадратные скобки, следующие за объектом. 
Выбор одного столбца чтобы выбрать один столбец, мы просто помещаем имя столбца между скобками.

### 2 вопрос (20 баллов)

С помощью библиотеки SQLAlchemy создайте объекты таблиц базы данных Chinook. Создайте запрос, который показывает имена (FirstName), фамилии, город клиентов (Customer), имена которых НЕ встречаются среди имен работников (Employee). Создайте этот запрос с помощью подзапроса.

In [2]:
subq=select(Employee.c.FirstName).scalar_subquery()

s=select(Customer.c.FirstName+' '+Customer.c.LastName, Customer.c.City)
s=s.where(Customer.c.FirstName.notin_(subq))
result=conn.execute(s).fetchall()
pprint(result)
print(len(result))

[('Luís Gonçalves', 'São José dos Campos'),
 ('Leonie Köhler', 'Stuttgart'),
 ('François Tremblay', 'Montréal'),
 ('Bjørn Hansen', 'Oslo'),
 ('František Wichterlová', 'Prague'),
 ('Helena Holý', 'Prague'),
 ('Astrid Gruber', 'Vienne'),
 ('Daan Peeters', 'Brussels'),
 ('Kara Nielsen', 'Copenhagen'),
 ('Eduardo Martins', 'São Paulo'),
 ('Alexandre Rocha', 'São Paulo'),
 ('Roberto Almeida', 'Rio de Janeiro'),
 ('Fernanda Ramos', 'Brasília'),
 ('Mark Philips', 'Edmonton'),
 ('Jennifer Peterson', 'Vancouver'),
 ('Frank Harris', 'Mountain View'),
 ('Jack Smith', 'Redmond'),
 ('Michelle Brooks', 'New York'),
 ('Tim Goyer', 'Cupertino'),
 ('Dan Miller', 'Mountain View'),
 ('Kathy Chase', 'Reno'),
 ('Heather Leacock', 'Orlando'),
 ('John Gordon', 'Boston'),
 ('Frank Ralston', 'Chicago'),
 ('Victor Stevens', 'Madison'),
 ('Richard Cunningham', 'Fort Worth'),
 ('Patrick Gray', 'Tucson'),
 ('Julia Barnett', 'Salt Lake City'),
 ('Edward Francis', 'Ottawa'),
 ('Martha Silk', 'Halifax'),
 ('Aaron Mitchell', 'Winnipeg'),
 ('Ellie Sullivan', 'Yellowknife'),
 ('João Fernandes', 'Lisbon'),
 ('Madalena Sampaio', 'Porto'),
 ('Hannah Schneider', 'Berlin'),
 ('Fynn Zimmermann', 'Frankfurt'),
 ('Niklas Schröder', 'Berlin'),
 ('Camille Bernard', 'Paris'),
 ('Dominique Lefebvre', 'Paris'),
 ('Marc Dubois', 'Lyon'),
 ('Wyatt Girard', 'Bordeaux'),
 ('Isabelle Mercier', 'Dijon'),
 ('Terhi Hämäläinen', 'Helsinki'),
 ('Ladislav Kovács', 'Budapest'),
 ("Hugh O'Reilly", 'Dublin'),
 ('Lucas Mancini', 'Rome'),
 ('Johannes Van der Berg', 'Amsterdam'),
 ('Stanisław Wójcik', 'Warsaw'),
 ('Enrique Muñoz', 'Madrid'),
 ('Joakim Johansson', 'Stockholm'),
 ('Emma Jones', 'London'),
 ('Phil Hughes', 'London'),
 ('Mark Taylor', 'Sidney'),
 ('Diego Gutiérrez', 'Buenos Aires'),
 ('Luis Rojas', 'Santiago'),
 ('Manoj Pareek', 'Delhi'),
 ('Puja Srivastava', 'Bangalore')]
57

### 3 вопрос (20 баллов)

Записи набора данных imdb.csv содержат информацию о фильмах. Атрибут Director каждой записи содержит имя режиссера конкретного фильма. Найдите режиссеров, снявших шесть и более фильмов.

In [4]:
directors = df[['Director', 'Title']].groupby('Director').count()
directors[directors['Title'] >= 6]

                    Title
Director
David Yates             6
M. Night Shyamalan      6
Michael Bay             6
Paul W.S. Anderson      6
Ridley Scott            8