In [1]:
from sqlalchemy import *
from sqlalchemy.sql import *

engine = create_engine('sqlite:///Data/Chinook_Sqlite.sqlite')
metadata = MetaData()
metadata.reflect(bind=engine)
conn=engine.connect()

InvoiceLine=Table("InvoiceLine", metadata, autoload=True, autoload_with="engine")
MediaType=Table("MediaType", metadata, autoload=True, autoload_with="engine")
Track=Table("Track", metadata, autoload=True, autoload_with="engine")
Invoice=Table("Invoice", metadata, autoload=True, autoload_with="engine")
Customer=Table("Customer", metadata, autoload=True, autoload_with="engine")

import pandas as pd
df=pd.read_csv('./Data/imdb.csv')

### Преобразование вывода и встроенные функции языка SQL. Числовые, символьные и строковые константы. Символьная операция конкатенации строк.

В SQL реализованы операторы преобразования данных и встроенные функции, предназначенные для работы со значениями столбцов и/или 
константами в выражениях. Использование этих операторов допустимо в запросах везде, где допустимы выражения.
В SQL имеется пять встроенных функций: COUNT, SUM, AVG, MAX и MIN. Они выполняют различные действия над результатами оператора
SELECT. Функция COUNT работает вне зависимости от типа данных столбца, а функции SUM, AVG, МАХ и MIN оперируют только числовыми 
столбцами (Integer, Numeric и т. д.).
Функции преобразования символов в строке
• LOWER
• UPPER 
• INITCAP 
Если в запросе вместо спецификации столбца SQL обнаруживает число, то оно интерпретируется как числовая константа. 
Символьные константы должны указываться в одинарных кавычках. 
Строковая константа в SQL — это обычная последовательность символов, заключённая в апострофы
Concat() - эта функция возвращает строку, возникающую в результате объединения двух или более строковых значений в сквозной форме.

### С помощью библиотеки SQLAlchemy создайте объекты таблиц базы данных Chinook. В таблице Invoice содержится информация о заказах, в таблице Customer - о клиентах. Составьте запрос, показывающий, какова суммарная стоимость произведений, заказанных клиентами из Франции (France).

In [3]:
C = Customer.alias('C')
I = Invoice.alias('I')

s = select(func.sum(I.c.Total), C.c.Country).where(and_(
    C.c.Country == 'France',
    C.c.CustomerId == I.c.CustomerId))
result = conn.execute(s).fetchall()
result

[(Decimal('195.10'), 'France')]

### Записи набора данных imdb.csv содержат информацию о фильмах. Атрибут Actors каждой записи содержит перечень актёров конкретного фильма. Атрибут Rating содержит значение рейтинга фильма. Подсчитайте среднее значение рейтнга фильмов, в которых снимался акте

In [4]:
# Преподователь не указал какой именно актер, поэтому беру Will Smith

import pandas as pd
df=pd.read_csv('./Data/imdb.csv')
df[df['Actors'].str.contains('Will Smith')]['Rating'].mean()

6.7700000000000005