<img src=./Img/sci.png>


    
<p style="font-size:150%;text-align:center">Финансовый университет</p>


<p style="font-size:200%;text-align:center">Программирование на языках Python и SQL


<p style="font-size:150%;text-align:center">Контрольная работа</p>
    

    
Семинар<br>
13 декабря 2021 года<br>
Группы: ФРФТ20-2, ФРФТ20-1

Преподаватель: Смирнов Михаил Викторович, доцент Департамента анализа данных и машинного обучения Финансового университета при Правительстве Российской Федерации. mvsmirnov@fa.ru

При подготовке материалов учебных занятий использовались источники
- Essential SQLAlchemy: Mapping Python to Databases 2nd Edition. Jason Myers, Rick Copeland. O'Reilly Media, Inc. 2015.
- <a href="http://insideairbnb.com/get-the-data.html">Inside Airbnb</a>

# Проект Антверпен

<img src="./Img/Antwerp_1.png">

# Задания

## 1. Изучите структуру базы данных размещения туристов в Антверпене

<img src="./Img/Antwerpen_4.png">

<img src=./Img/Schema.png>

## 2. Создайте отображение базы данных

<img src="./Img/Antwerpen_2.png">

In [1]:
# Ваш код здесь

from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, desc
from sqlalchemy.sql import func, alias, exists, join, outerjoin, distinct
from pprint import pprint
engine = create_engine('sqlite:///Data/Antwerp.db')
metadata = MetaData()
metadata.reflect(bind=engine)
conn=engine.connect()
metadata.tables.keys()

users=Table("users", metadata, autoload=True, autoload_with="engine")
orders=Table("orders", metadata, autoload=True, autoload_with="engine")
line_items=Table("line_items", metadata, autoload=True, autoload_with="engine")
neighbourhoods=Table("neighbourhoods", metadata, autoload=True, autoload_with="engine")
listings=Table("listings", metadata, autoload=True, autoload_with="engine")
hosts=Table("hosts", metadata, autolad=True, autolad_with="engine")
room_types=Table("room_types", metadata, autoload=True, autoload_with="engine")

## 3. Выполните SQL-запросы

<img src="./Img/Antwerpen_6b.png">

<p style="font-size:120%;color:green">3.1. Выполните SQL-запросы к базе данных <i>Antwerp.db</i> с помощью SQLAlchemy</p>

1. Распечатать названия районов и количество объектов в каждом районе. Упорядочить результат по убыванию числа объектов.
2. Распечатать название района, имя владельца, название объекта для всех объектов размещения в районах *Dam* и *Donk*. Отсортировать результат по названию района и в каждом районе по имени владельца.
3. Распечатать имя владельца и число объектов, которым он владеет, для всех владельцев, которые владеют семью и более объектами. Результат отсортировать по числу объектов в порядке убывания.
4. Сколько комнат каждого типа в районах *Centraal Station* и *Harmonie?*. Результат должен содержать названия типов комнат и названия районов. Отсортировать результат по названию района.
5. Комнатами какого типа владеет *Mari?*. Распечатать число комнат каждого типа.
6. Распечатать все объекты, принадлежащие владельцам *Mari* и *Marie*. Выполнить этот запрос с помощью подзапроса и без использования JOIN.  
7. Найти объект размещения максимальной цены.
8. Найти среднюю цену объекта в районе *Hoogte*.
9. Найти пользователей, не сделавших ни одного заказа.


<p style="font-size:120%;color:green">3.2. Выполните SQL-запрос с помощью DB Browser for SQLite.</p>

10. Распечатать названия и цены объектов в районе *Hoogte* с ценой ниже средней цены по району *Hoogte*.
11. Распечатать название объекта, имя владельца, идентификатор района, название района и цену объекта, ограничившись только объектами, находящимися в таких районах, в которых менее 4 объектов. Результат отсортировать по названию района.

In [2]:
#1 Распечатать названия районов и количество объектов в каждом районе. Упорядочить результат по убыванию числа объектов
L = listings.alias("L")
N = neighbourhoods.alias("N")

j = join(L, N, N.c.neigh_id == L.c.neigh_id)

s = select(N.c.neigh_name, func.count(L.c.listing_id)).group_by(N.c.neigh_name).order_by(func.count(L.c.listing_id).desc())
s = s.select_from(j)

result = conn.execute(s).fetchall()
result

[('Historisch Centrum', 259),
 ('Theaterbuurt-Meir', 148),
 ('Amandus - Atheneum', 127),
 ('Centraal Station', 109),
 ('Stadspark', 105),
 ('Zuid', 98),
 ('Universiteitsbuurt', 83),
 ('Sint-Andries', 71),
 ('Borgerhout Intra Muros Zuid', 67),
 ('Brederode', 60),
 ('Borgerhout Intra Muros Noord', 59),
 ('Eilandje', 49),
 ('Stuivenberg', 48),
 ('Harmonie', 46),
 ('Haringrode', 33),
 ('Oud - Berchem', 28),
 ('Markgrave', 27),
 ('Zurenborg', 24),
 ('Kiel', 24),
 ('Deurne Zuid West', 24),
 ('Borgerhout Extra Muros', 21),
 ('Linkeroever', 19),
 ('Groenenhoek', 19),
 ('Nieuw - Kwartier Oost', 13),
 ('Deurne Zuid Oost', 13),
 ('Middelheim', 12),
 ('Hoogte', 12),
 ('Oud - Merksem', 10),
 ('Oosterveld - Elsdonk', 10),
 ('Deurne Noord', 9),
 ('Deurne Dorp - Gallifort', 9),
 ('Wilrijk Centrum', 8),
 ('Valaar', 8),
 ('Hoboken - Noord', 8),
 ('Hoboken - Centrum', 8),
 ('Deurne Oost', 6),
 ('Dam', 6),
 ('Nieuw - Zuid', 5),
 ('Nieuw - Kwartier West', 5),
 ('Ekeren Centrum', 4),
 ('Tentoonstellingswijk', 3),
 ('Tuinwijk', 2),
 ('Polder', 2),
 ('Merksem - Heide', 2),
 ('Mariaburg', 2),
 ('Lambrechtshoeken', 2),
 ('Hoboken - Zuidoost', 2),
 ('Donk', 2),
 ('Petroleum - Zuid', 1),
 ('Nieuwdreef', 1),
 ('Neerland', 1),
 ('Lillo', 1),
 ('Leugenberg', 1)]

In [3]:
#2 Распечатать название района, имя владельца, название объекта для всех объектов размещения в районах Dam и Donk. 
#Отсортировать результат по названию района и в каждом районе по имени владельца.

j = join(listings, neighbourhoods, neighbourhoods.c.neigh_id == listings.c.neigh_id)
j = j.join(hosts, listings.c.host_id == hosts.c.host_id)

s = select(neighbourhoods.c.neigh_name, listings.c.listing_name, hosts.c.host_name).where(
    or_(neighbourhoods.c.neigh_name == 'Dam', neighbourhoods.c.neigh_name == 'Donk')).group_by(neighbourhoods.c.neigh_name, hosts.c.host_name)
s = s.select_from(j)

result = conn.execute(s).fetchall()
result

[('Dam', 'Cosy luxury with perfect location in Antwerp', 'Bjorn'),
 ('Dam', 'The Kaoz: more than just a luxury loft in Antwerp!', 'Cain'),
 ('Dam', "Spacious apartment at 'Den Dam' for two", 'Daan'),
 ('Dam', 'Big and light bedroom in our beautiful apartment', 'Laura'),
 ('Dam', 'Medieval bedroom in an authentic mansion', 'Pim'),
 ('Donk', 'Cozy Entire Apartment in Garden City Brasschaat', 'Jianli')]

In [4]:
#3.Распечатать имя владельца и число объектов, которым он владеет, для всех владельцев, которые владеют семью и более объектами. 
#Результат отсортировать по числу объектов в порядке убывания.

H = hosts.alias('H')
L = listings.alias('L')

j = join(L, H, L.c.host_id == H.c.host_id)

s = select(H.c.host_id, H.c.host_name, func.count(L.c.listing_id)).group_by(H.c.host_id).having(func.count(L.c.listing_id)>=7)
s = s.order_by(func.count(L.c.listing_id).desc())
s = s.select_from(j)

result = conn.execute(s).fetchall()
result

[(107750838, 'S.', 35),
 (317037207, 'Elisabeth', 33),
 (165436938, 'Elisabeth', 33),
 (60219699, 'Eugene', 24),
 (2792958, 'Alex', 21),
 (127787502, 'Olena', 19),
 (110993942, 'Rev', 16),
 (43247005, 'Rebecca', 15),
 (246552165, 'Amir', 13),
 (341953444, 'Nick', 12),
 (270964935, 'Liselore', 10),
 (228207262, 'Ann', 9),
 (15842352, 'Ina - RumpusRoom', 9),
 (277645495, 'Daily', 8),
 (264440567, 'Henry', 8),
 (244714583, 'Ani', 8),
 (182678477, 'Driss', 8),
 (103363284, 'Nathalie', 8),
 (232746364, 'Taskin', 7),
 (67322181, 'Eli', 7),
 (60756836, 'Ann', 7),
 (15780894, 'Simon', 7)]

In [5]:
#4 Сколько комнат каждого типа в районах Centraal Station и Harmonie?. 
#Результат должен содержать названия типов комнат и названия районов. Отсортировать результат по названию района.

R = room_types.alias('R')
L = listings.alias('L')
N = neighbourhoods.alias('N')

j = join(L, N, N.c.neigh_id == L.c.neigh_id)
j = j.join(R, R.c.room_type_id == L.c.room_type_id)

s = select(N.c.neigh_name, func.count(L.c.room_type_id), R.c.room_type_name).group_by(N.c.neigh_name, L.c.room_type_id).having(
    or_(N.c.neigh_name == 'Centraal Station', N.c.neigh_name == 'Harmonie')).order_by(N.c.neigh_name)
s = s.select_from(j)

result = conn.execute(s).fetchall()
result

[('Centraal Station', 81, 'Entire home/apt'),
 ('Centraal Station', 7, 'Hotel room'),
 ('Centraal Station', 21, 'Private room'),
 ('Harmonie', 39, 'Entire home/apt'),
 ('Harmonie', 7, 'Private room')]

In [6]:
#5 Комнатами какого типа владеет Mari?. Распечатать число комнат каждого типа.

R = room_types.alias('R')
L = listings.alias('L')
H = hosts.alias('H')

j = join(L, H, L.c.host_id == H.c.host_id)
j = j.join(R, R.c.room_type_id == L.c.room_type_id)

subq = select(H.c.host_id).where(H.c.host_name == 'Mari').scalar_subquery()

s = select(R.c.room_type_name, func.count(R.c.room_type_name)).where(H.c.host_id == subq).group_by(R.c.room_type_name)
s = s.select_from(j)

result = conn.execute(s).fetchall()
result

[('Entire home/apt', 2), ('Private room', 1)]

In [7]:
#6.Распечатать все объекты, принадлежащие владельцам Mari и Marie. 
#Выполнить этот запрос с помощью подзапроса и без использования JOIN.
H = hosts.alias("H")
L = listings.alias("L")

subq = select(H.c.host_id)
subq = subq.where(and_ (H.c.host_id == L.c.host_id,(
    or_(H.c.host_name == 'Marie',
        H.c.host_name == 'Mari')))
)
subq = subq.group_by(H.c.host_id).scalar_subquery()

s = select(L.c.listing_name)
s = s.where(L.c.host_id==subq)
s = s.group_by(L.c.listing_name)

result=conn.execute(s).fetchall()
result

[('A small place to sleep in the heart of Antwerp.',),
 ('Adorable happy positive vibes place',),
 ('An apartment in the heart of Antwerp',),
 ('An apartment in the heart of Antwerp (2)',),
 ('Frisse, ruime kamer op het trendy Zuid',),
 ('Romantic room with shower, bubble bath and soul!',),
 ('Sfeervol en zonnig appartement in oud Borgerhout',)]

In [8]:
#7.Найти объект размещения максимальной цены.
L=listings.alias("L")

s=select(L.c.listing_name, func.max(L.c.price))

result=conn.execute(s).fetchall()
print(result)

[('Antique building in centre of Antwerp', 3200)]

In [9]:
#8.Найти среднюю цену объекта в районе Hoogte
N = neighbourhoods.alias('N')
L = listings.alias("L")

j=join(L, N, L.c. neigh_id == N.c. neigh_id)

s=select(func.avg(L.c.price)).where(N.c.neigh_name == 'Hoogte')
s=s.select_from(j)

result=conn.execute(s).fetchall()
print(result)

[(65.41666666666667,)]

In [10]:
#9. Найти пользователей, не сделавших ни одного заказа.

U = users.alias("U")
O = orders.alias("O")

j=outerjoin(U, O, U.c.user_id == O.c.user_id)

s=select(U.c.user_name, O.c.order_id).group_by(U.c.user_id)
s=s.having(O.c.order_id.is_(None))
s=s.select_from(j)

result=conn.execute(s).fetchall()
print(result)

[('Ivan', None), ('Svetlana', None)]

In [11]:
#10.Распечатать названия и цены объектов в районе Hoogte с ценой ниже средней цены по району Hoogte.
N = neighbourhoods.alias('N')
L = listings.alias("L")

j=join(L, N, L.c. neigh_id == N.c. neigh_id)

subq=select(func.avg(L.c.price)).where(N.c.neigh_name == 'Hoogte')
subq=subq.select_from(j).scalar_subquery()

s=select(L.c.listing_name, L.c.price).where(and_(N.c.neigh_name == 'Hoogte', L.c.price<subq))
s=s.select_from(j)

result=conn.execute(s).fetchall()
print(result)

[('2 persons room', 41), ('Apartment in the greenest suburb of Antwerp', 40), ('Kamer in Luxueus Appartement te Antwerpen Wilrijk', 40), ('Comfortable stay close to Antwerp', 65), ('Charmante Privékamer in Antwerpen-Wilrijk', 40), ('Quiet room close to Antwerp', 28), ('1 persoonskamer', 41)]

In [12]:
#Прямой запрос
s=str('select listing_name, price from listings, neighbourhoods where listings.neigh_id=neighbourhoods.neigh_id and neigh_name="Hoogte" and price<(select avg(price) from listings where neigh_name="Hoogte" and listings.neigh_id=neighbourhoods.neigh_id)')
result = conn.execute(s).fetchall()
print(result)

[('2 persons room', 41), ('Apartment in the greenest suburb of Antwerp', 40), ('Kamer in Luxueus Appartement te Antwerpen Wilrijk', 40), ('Comfortable stay close to Antwerp', 65), ('Charmante Privékamer in Antwerpen-Wilrijk', 40), ('Quiet room close to Antwerp', 28), ('1 persoonskamer', 41)]

In [14]:
#11.Распечатать название объекта, имя владельца, идентификатор района, название района и цену объекта, ограничившись только 
#объектами, находящимися в таких районах, в которых менее 4 объектов. Результат отсортировать по названию района.
N = neighbourhoods.alias('N')
L = listings.alias("L")
H = hosts.alias("H")

k = join(L, N, L.c.neigh_id == N.c.neigh_id)

j = join(L, H, L.c.host_id == H.c.host_id)
j = j.join(N, N.c.neigh_id == L.c.neigh_id) 

subq = select(N.c.neigh_id).group_by(N.c.neigh_id).having(func.count(L.c.listing_id)<4)
subq = subq.select_from(k).scalar_subquery()

s = select(L.c.listing_name, H.c.host_name, N.c.neigh_id, N.c.neigh_name, L.c.price).where(N.c.neigh_id.in_(subq))
s = s.order_by(N.c.neigh_name)
s = s.select_from(j)

result=conn.execute(s).fetchall()
result

[('Cozy Entire Apartment in Garden City Brasschaat', 'Jianli', 13, 'Donk', 70),
 ('Charming Entire Apartment Monthly- Garden City', 'Jianli', 13, 'Donk', 130),
 ('Apartment for 4 persons (MM1)', 'S.', 22, 'Hoboken - Zuidoost', 170),
 ('Apartment for 4 persons (MM1)', 'S.', 22, 'Hoboken - Zuidoost', 170),
 ('PlaceToBe', 'Said', 25, 'Lambrechtshoeken', 100),
 ('Cozy room outside of the center + free parking', 'Glenn', 25, 'Lambrechtshoeken', 50),
 ('Ekeren rustige ruime kamer met badkamer', 'Katrien', 26, 'Leugenberg', 35),
 ('Unieke woning in Lillo (Antwerpen)', 'Yves', 27, 'Lillo', 120),
 ('Een mooie B&B op een boogscheut  van Antwerpen', 'Clara', 29, 'Mariaburg', 95),
 ('Tempel', 'Kajan', 29, 'Mariaburg', 15),
 ('Appartement ligt op 5 min van het centrum', 'Ali', 31, 'Merksem - Heide', 76),
 ('Private room in a shared family apartment.', 'Wahid', 31, 'Merksem - Heide', 17),
 ('Bureau + slaapkamer (32m2) ; zeer dichtbij UZA', 'Julie', 33, 'Neerland', 80),
 ('Cosy Room near Centre and Sportpaleis', 'David', 37, 'Nieuwdreef', 22),
 ('Antwerp Apartment near Centre & EXPO', 'Nancy & Arthur', 41, 'Petroleum - Zuid', 54),
 ('Vakantiewoning Monnikenhoeve (#32)', 'Filip', 42, 'Polder', 525),
 ('landhuis met tuin Antwerpen voor 6 pers (3slk)', 'Karel', 42, 'Polder', 60),
 ('Renovated, spacious & cosy apartment in Antwerp', 'Stéphanie', 46, 'Tentoonstellingswijk', 68),
 ('Room in cosy and renovated apartment *Women only', 'Stéphanie', 46, 'Tentoonstellingswijk', 30),
 ('De Rotonde - Panoramic Apartment next to Antwerp Expo', 'Jean-Paul From BnbSupport', 46, 'Tentoonstellingswijk', 115),
 ('Kamer Adriaan', 'Els', 48, 'Tuinwijk', 30),
 ('Kamer Alexander', 'Els', 48, 'Tuinwijk', 30)]